<div id="fruit">
	<a class="name"></a>
	<p class="description"></p>

	<div identifier="colors"></div>


	<div bound-attribute="price"></div>
	<div class="price"></div>

	<hr>

	<input type="text" name="name">
	<input type="checkbox" name="colors" value="red">red
	<input type="checkbox" name="colors" value="green">green
	<input type="checkbox" name="colors" value="blue">blue
	<input type="checkbox" name="colors" value="yellow">yellow
	<input type="checkbox" name="colors" value="orange">orange
</div>
